.errorCont {
  color: #ff6060;

  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 22px 22px;
}

.errorCont__No {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: 143%;
  margin: auto;
}

@media screen and (min-width: 1024px) {
  .errorCont__No {
    font-size: 240px;
    margin: 0;
  }
}

.errorCont__Txt {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
  font-size: 18.2px;
  font-style: normal;
  font-weight: 500;
  line-height: 142%;
  margin-top: 60px;
}

@media screen and (min-width: 1024px) {
  .errorCont__Txt {
    font-size: 24px;
    margin: auto;
  }
}

.errorCont_Link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 80px;
  color: black;
  font-size: 14.2px;
  font-style: normal;
  font-weight: 500;
  line-height: 142%;
  margin: auto;
}

@media screen and (min-width: 1024px) {
  .errorCont_Link {
    font-size: 18px;
    margin-top: 150px;
    align-items: center;
    justify-content: center;
  }
}

.errorCont__Link:hover,
.errorCont__Link:focus {
  text-decoration-line: underline;
}
