Fiche-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.Fiche-logement {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.description-info {
  display: flex;
  flex-direction: column;
}

.description-info__titletags {
  display: flex;
  flex-direction: column;
}

.description-info__titletags__title {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.titre-logement {
  font-size: 18px;
  font-weight: 500;
  color: #ff6060;
}

.endroit-logement {
  font-size: 14px;
  font-weight: 550;
  margin-top: 8px;
}

.description-info__titletags__tags {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

@media screen and (min-width: 1024px) {
  .description-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .description-info__titletags {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }

  .description-info__titletags__title {
    display: flex;
    flex-direction: column;
  }

  .titre-logement {
    font-size: 36px;
    font-weight: 500;
    display: flex;
    align-items: flex-end;
  }

  .endroit-logement {
    font-size: 18px;
    font-weight: 550;
    display: flex;
    align-items: flex-end;
  }
}

.description-info__proprietaire {
  display: flex;
  flex-direction: row-reverse;
}

@media screen and (min-width: 1024px) {
  .description-info__proprietaire {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .name-owner {
    font-size: 18px;
    font-weight: 500;
    margin-right: 10px;
    text-align: right;
    width: 93px;
    color: #ff6060;
  }
}

.description-info__proprietaire__nom-prop {
  display: flex;
  justify-content: center;
  align-items: center;
}

.name-owner {
  font-size: 16px;
  font-weight: 500;
  margin-right: 10px;
  text-align: right;
  width: 93px;
  color: #ff6060;
}

.photo-owner {
  border-radius: 50%;
  width: 64px;
  height: 64px;
  object-fit: cover;
}

.description-info__proprietaire__rate {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  margin-right: -30px;
}

.etoile {
  justify-content: center;
  align-items: center;
  width: 17px;
  height: 18px;
  right: 238px;
}

@media screen and (max-width: 450px) {
  .rate-cont {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 20px;
  }
  .etoile {
    width: 17px;
    height: 18px;
    left: -80px;
  }
}

@media screen and (min-width: 1024px) {
  .etoile {
    width: 30px;
    height: 30px;
    position: relative;
    right: 10px;
  }
}

.description-centent {
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1024px) {
  .description-centent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .description-centent__description {
    width: 60%;
    position: relative;
    right: 40px;
  }

  .description-centent__equipement {
    width: 60%;
    position: relative;
    left: 40px;
  }

  .description-info__proprietaire__rate {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}
