.Dropdown__container {
  margin: 30px 0;
  width: 100%;
}
.Dropdown__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff6060;
  padding: 11px;
  border-radius: 5.2px;
  cursor: pointer;
}

.Dropdown__title h2 {
  color: #ffffff;
  font-size: 18px;
}

.Dropdown__contentText {
  margin-bottom: 40px;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  background-color: #f6f6f6;
  padding: 16px;
  line-height: 24px;
}

.rotate {
  transform: rotate(-180deg); /* Rotate 180 degrees to point downwards */
}
.fa-chevron-up {
  color: white;
  height: 16px;
  width: 16px;
  align-items: center;
  display: flex;
  justify-content: center;

  position: relative;
  right: 15px;
  top: 5px;
  transition: transform 0.25s ease; /* Slow rotation effect */
}
@media screen and (min-width: 1024px) {
  .Dropdown__container {
    width: 87%;
    margin-left: 6%;
  }

  .Dropdown__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff6060;
    padding: 11px;
    border-radius: 5.2px;
    cursor: pointer;

    .Dropdown__title h2 {
      color: #ffffff;
      font-size: 25px;
      font-family: Montserrat;
    }
  }

  .Dropdown__contentText {
    margin-bottom: 40px;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    background-color: #f6f6f6;
    padding: 16px;
    line-height: 24px;
  }
}
.dropdown_area {
  margin-top: -50px;
}
